---
const { data } = Astro.props;
import MainLayout from "../layouts/MainLayout.astro";
---

<!-- Gør så der bliver hentet items fra den valgte kategori -->
<article class={`grid-item ${data.category}`} data-category={data.category}>
  <!-- Billede fra databasen og info om produkter -->
  <a href={`/products/${data.slug}`} aria-label="produkt"> <img class="image" src={data.image_front} aria-label="billede af tøj-item" /> <img class="image2" src={data.image_person} aria-label="billede af tøj-item" /></a>
  <!-- "tekstfelt" der skal ligge over billederne på mobil -->
  <div class="info"><a href={`/products/${data.slug}`}> <h3>{data.name}</h3></a> <h3>{data.price} DKK</h3> <button type="button" name="btn"> <a class="knap" href="/cart"> <p>ADD TO CART</p></a></button></div>
</article>
<style>
  /* billeder */
  .image {
    width: 100%;
    height: auto;
  }
  .image2 {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: auto;
    transition: opacity 0.3s ease-in-out;
    opacity: 0;
    z-index: 1;
  }

  /* grid */
  .grid-item {
    position: relative;
    outline: 5px solid #ab1f27;
    display: flex;
    flex-direction: column;
  }
  .grid-item:hover .image2 {
    opacity: 0;
  }
  .grid-item:hover .image {
    opacity: 1;
  }
  /* knap */
  .knap:hover {
    text-decoration: none;
  }
  .knap {
    text-decoration: none;
  }
  button {
    font-family: "AvenirNext";
    color: #ffffff;
    font-size: 15px;
    border: none;
    padding-left: 5%;
    padding-right: 5%;
    cursor: pointer;
    text-decoration: none;
    background-color: #ab1f27;
    padding-top: 3px;
  }
  button p {
    color: white;
  }
  button p:hover {
    color: black;
  }
  /* tekst - brand, pris */
  .info {
    width: 100%;
    position: absolute;
    bottom: 0;
    background-color: #d9d9d97d;
    padding-left: 10px;
    padding-bottom: 10px;
    padding-top: 10px;
  }
  h3 {
    font-size: 10px;
    font-family: "AvenirNext";
    font-weight: 400;
  }
  .info a {
    color: black;
    text-decoration: none;
  }
  @media screen and (min-width: 800px) {
    .info {
      display: none;
    }
    /* knap */
    .knap {
      padding-bottom: -50px;
    }
    button {
      font-size: 20px;
    } /* tekst */
    h3 {
      font-size: 20px;
    } /* billeder */
    .image {
      display: block;
      object-fit: cover;
      transition: opacity 0.3s ease-in-out;
    }

    /* grid */
    .grid-item:hover .info {
      display: block;
      opacity: 1;
      transform: translateY(0);
      visibility: visible;
      z-index: 2;
    }
    .grid-item:hover .image {
      opacity: 0;
    }
    .grid-item:hover .image2 {
      opacity: 1;
    }
  }
</style>
