---
import MainLayout from "../../layouts/MainLayout.astro";
import Banner from "../../components/Banner.astro";
import Footer from "../../components/Footer.astro";
const title = "BALCOMBE";

// funktion til at generere statiske stier og props baseret på API
export async function getStaticPaths() {
  const data = await fetch("https://ylexooenrhrqjqzuypjf.supabase.co/rest/v1/balcombe_productlist", {
    method: "GET",
    headers: {
      apikey: "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InlsZXhvb2VucmhycWpxenV5cGpmIiwicm9sZSI6ImFub24iLCJpYXQiOjE3MTU4NjIzNTMsImV4cCI6MjAzMTQzODM1M30.kH5EGQ0TrxURi_pUejtr_sqhUviIryvRKXetR_LVdSs",
    },
  }).then((response) => response.json());

  console.log("Data from API:", data);

  return data.map((product) => {
    return {
      params: { slug: String(product.slug) },
      props: { myData: product },
    };
  });
}
const { myData } = Astro.props;
---

<MainLayout title={title}>
  <Banner title={myData.name} />
  <div class="testtest">
    <ul class="brodkrumme">
      <li><a href="/">HOME</a></li>
      <li><a href="allitems">SHOP</a></li>
    </ul>
  </div>
  <section class="product-section">
    <div class="container">
      <div class="image-container">
        <!-- billeder med tekst -->
        <img class="stortbillede" src={myData.image_person} alt="" />
      </div>
      <div class="gridbilleder_mobil">
        <img src={myData.image_front} alt="" />
        <img src={myData.image_back} alt="" />
        <img src={myData.image_front} alt="" />
        <img src={myData.image_front} alt="" />
        <img src={myData.image_back} alt="" />
      </div>

      <div class="text-container" id="sticky-text-container">
        <h2>{myData.name}</h2>
        <h2>{myData.price} DKK</h2>
        <div class="btn-container"></div>
        <div class="info_copy"></div>
        <div class="info">
          <p class="description">{myData.description}</p>
          <p class="model">The model is wearing a size SMALL</p>
        </div>
        <hr class="foerstehr" />
        <div class="size">
          <p>SMALL</p>
          <p>MEDIUM</p>
          <p>LARGE</p>
        </div>
        <hr />
        <div class="antal_cart">
          <button class="amount" type="button" name="btn">
            <p>- 1 +</p>
          </button>
          <button class="btn" type="button" name="btn">
            <p>ADD TO CART</p>
          </button>
        </div>
        <div class="undercart">
          <h3>DETAILS</h3>
          <h3>SIZE GUIDE</h3>
          <h3>SHIPPING</h3>
          <h3>HELP</h3>
        </div>
      </div>
    </div>
    <div class="desktop">
      <img src={myData.image_front} alt="" />
      <img src={myData.image_back} alt="" />
      <img src={myData.image_front} alt="" />
      <img src={myData.image_front} alt="" />
      <img src={myData.image_back} alt="" />
    </div>
  </section>
</MainLayout>
<Footer />

<style>
  /* tekst */

  .text-container {
    margin-top: 10px;
    margin-left: 20px;
    margin-right: 20px;
  }

  .model {
    margin-top: 20px;
  }
  h3 {
    font-family: Avenir Next;
    font-size: 12px;
    font-weight: 400;
    color: #ab1f27;
  }
  h2 {
    font-family: Avenir Next;
    font-size: 20px;
    font-weight: 400;
    color: #ab1f27;
  }

  p {
    font-family: Avenir Next;
    font-size: 15px;
    line-height: 1.5;
    color: #ab1f27;
  }

  .description {
    margin-top: 20px;
  }

  /* vælge antal og add to cart */

  button {
    padding: 10px;
    font-size: 18px;
    color: #ffffff;
    background-color: #ab1f27;
    border: 2px solid var(--cta-text);
    cursor: pointer;
    letter-spacing: 1px;
    transition:
      background-color 0.3s,
      color 0.3s;
  }

  button p {
    color: #ffffff;
  }

  button:hover p {
    color: #000000;
  }
  .undercart {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    margin-top: 20px;
    text-align: center;
    margin-left: 50px;
    margin-right: 50px;
    margin-bottom: 10px;
  }

  .antal_cart {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 10px;
    margin-top: 30px;
  }

  /* størrelse  */

  .foerstehr {
    margin-top: 30px;
  }
  hr {
    color: #ab1f27;
  }
  .size {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    text-align: center;
    padding-top: 15px;
    padding-bottom: 15px;
  }

  /* filter og brødkrumme */

  .testtest {
    display: flex;
    width: 100%;
  }
  ul.filter {
    list-style: none;
    position: absolute;
    right: 30px;
    margin-left: 30%;
    margin-top: 26px;
  }
  ul.filter li {
    display: inline;
    font-size: 15px;
  }

  ul.filter li + li:before {
    padding: 2px;
    color: #ab1f27;
    content: "/\00a0"; /* fundet på nettet*/
  }

  ul.filter li a {
    color: #ab1f27;
    text-decoration: none;
    font-family: Avenir Next;
    font-size: 10px;
    cursor: pointer;
  }

  ul.brodkrumme {
    padding: 26px 25px;
    list-style: none;
  }

  ul.brodkrumme li {
    display: inline;
    font-size: 15px;
  }

  ul.brodkrumme li + li:before {
    padding: 2px;
    color: #ab1f27;
    content: "/\00a0"; /* fundet på nettet*/
  }

  ul.brodkrumme li a {
    color: #ab1f27;
    text-decoration: none;
    font-family: Avenir Next;
    font-size: 10px;
  }

  /* billeder  */

  .desktop {
    display: none;
  }

  .stortbillede {
    width: 70%;
    margin-left: auto;
    margin-right: auto;
  }

  .gridbilleder_mobil {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 10px;
  }

  .product-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: left;
    gap: 5px;
  }

  .image-container {
    overflow-y: auto;
    max-height: auto;
    width: 100%;
    scrollbar-width: thin;
    padding: 10px;
  }

  img {
    width: 100%;
    height: auto;
    padding-bottom: 20px;
  }

  /* media query til brødkrumme og kategorier */
  @media screen and (min-width: 1250px) {
    ul.filter li a {
      font-size: 20px;
    }
    ul.brodkrumme li a {
      font-size: 20px;
    }

    ul.filter li {
      display: inline;
      font-size: 20px;
    }
    ul.brodkrumme li {
      display: inline;
      font-size: 20px;
    }

    ul.filter {
      right: 40px;
    }
  }

  /* alm media query */
  @media only screen and (min-width: 1000px) {
    .container {
      display: grid;
      grid-template-columns: 1fr 1fr;
      gap: 150px;
      width: 90%;
    }
    /* billeder */
    .stortbillede {
      width: 100%;
    }
    .desktop {
      display: grid;
      grid-template-columns: repeat(5, 1fr);
      gap: 10px;
    }

    .gridbilleder_mobil {
      display: none;
    }

    .container img {
      width: 50%;
    }

    /* tekst */

    button p {
      font-size: 20px;
    }

    .text-container {
      text-align: left;
      flex: 1;
      top: 0;
      padding: 20px;
      box-sizing: border-box;
    }
    h1 {
      padding-bottom: 10px;
      padding-top: 60px;
      text-align: left;
    }

    h2 {
      font-size: 35px;
    }
    p {
      font-size: 20px;
    }
  }
</style>
